*{
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
}
body{
    background-color: rebeccapurple;
}
.red{
    height: 100px;
    width: 100px;
    background-color: red;
}
.blue{
    height:400px;
    width:300px;
    background-color: blue;
    border-color: red;
    border-width: 2px;
}
.green{
    height: 600px;
    width: 250px;
    border-radius: 6px;
    background-color: green;
}
h1{
    width: 400px;
    color: white;
    text-align: center;
}
h2{
    width: 800px;
    text-align: right;
    color: orange;
}
